<div class="container-fluid note-has-grid">

    <div class="tab-content">
        <div id="note-full-container" class="note-has-grid row">
            <div class="card card-body ">
                <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Launch new template">¿Qué es la gestión
                    de riesgos? </h5>
                <p class="note-date fs-2 text-muted"></p>
                <div class="note-content">
                    <p class="note-inner-content text-muted"
                        data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.">
                        Los sistemas de gestión de riesgo se diseñan para identificar los riesgos, cuantificarlos y
                        predecir su impacto en una organización. Estos riesgos se clasifican como aceptables o
                        inaceptables dependiendo de qué tan factible sea funcionar o no con ellos, o teniendo en
                        cuenta si su resolución implica, por ejemplo, una afectación mayor que la que causa el
                        riesgo en sí mismo. En general, esta clasificación depende del criterio del gerente de
                        proyectos

                    </p>
                </div>
            </div>
            <div class="card card-body ">
                <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Launch new template">¿Que es un sistema
                    de gestión de riesgos?
                </h5>
                <p class="note-date fs-2 text-muted"></p>
                <div class="note-content">
                    <p class="note-inner-content text-muted"
                        data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.">
                        Un Sistema de Gestión de Riesgo es la consolidación del proceso de gestión de riesgo de
                        manera tal que este cumpla con todas las etapas, sea repetible y transversal a todos los
                        procesos de la organización. Asimismo, cuando la gestión de riesgos se consolida en un
                        sistema, permea todos los otros sistemas de la organización, así, se gestionan no sólo los
                        riesgos a nivel global, sino también a nivel de cada área. Esto permite que la gestión deje
                        simplemente de reaccionar ante los eventos y empiece a funcionar de manera proactiva y
                        predictiva ante estos.

                    </p>
                </div>
            </div>
        </div>
    </div>




</div>