<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="me-3 align-self-center"><span class="lstick d-inline-block align-middle"></span><img
                            src="../assets/images/icon/income.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-muted mt-2 mb-0">Total departamentos</h6>
                        <h2>{{ departamentos.length }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="me-3 align-self-center"><span class="lstick d-inline-block align-middle"></span><img
                            src="../assets/images/icon/grupo.svg" alt="Income" width="70"></div>
                    <div class="align-self-center">
                        <h6 class="text-muted mt-2 mb-0">Total usuarios</h6>
                        <h2>{{ totalUsuarios }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="me-3 align-self-center"><span class="lstick d-inline-block align-middle"></span><img
                            src="../assets/images/icon/income.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-muted mt-2 mb-0">Total incidencias</h6>
                        <h2>{{ totalRiesgos }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <app-tabla class="bg-white"></app-tabla>
</div>