<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">


                <form class="form-horizontal p-t-20">
                    <p>CONDICIONES ERGONÓMICAS</p> <br>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-8 control-label">1. ¿Los elementos de trabajo más
                            usados se encuentran ubicados una distancia de alcance de aproximadamente 25 cm?</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <select class="form-control">
                                    <option value="">Cumple</option>
                                    <option value="">No cumple</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-8 control-label">2. ¿La mesa o superficie de trabajo
                            permite ajustar el teclado, de modo que se obtenga una posición cómoda al digitar,
                            manteniendo la mano, muñeca y brazo en linea recta con buen espacio delante del teclado para
                            descansar las manos?</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <select class="form-control">
                                    <option value="">Cumple</option>
                                    <option value="">No cumple</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-8 control-label">3. ¿El mouse lo ubica al lado del
                            teclado y no en otro nivel del escritorio de modo que se pueda alcanzar facilmente y con la
                            muñeca recta?</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <select class="form-control">
                                    <option value="">Cumple</option>
                                    <option value="">No cumple</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-8 control-label">4. ¿La silla tiene espaldar, que te
                            permita mantener tu columna recta?</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <select class="form-control">
                                    <option value="">Cumple</option>
                                    <option value="">No cumple</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-8 control-label">5. ¿La mesa o superficie de trabajo
                            permite un buen espacio para los miembros inferiores y la facilidad de movimiento?</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <select class="form-control">
                                    <option value="">Cumple</option>
                                    <option value="">No cumple</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Observaciones</label>
                        <textarea class="form-control" rows="3" cols="50" formControlName="descripcion"></textarea>
                    </div>

                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button class="btn btn-success waves-effect waves-light" (click)="observacion()">
                                <i class="fa fa-save"></i>
                                Enviar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>