<div class="container-fluid">
    <div class="row el-element-overlay">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="el-card-item pb-3">
                    <div class="el-card-avatar mb-3 el-overlay-1 w-100 overflow-hidden position-relative text-center">
                        <img src="../../../assets/images/gallery/Elevación.gif" class="d-block position-relative w-100"
                            alt="user">
                        <div class="el-overlay w-100 overflow-hidden">
                            <ul class="list-style-none el-info text-white text-uppercase d-inline-block p-0">
                                <li class="el-item d-inline-block my-0  mx-1"><a
                                        class="btn default btn-outline image-popup-vertical-fit el-link text-white border-white"
                                        href="../assets/images/big/img1.jpg"><i class="icon-magnifier"></i></a></li>
                                <li class="el-item d-inline-block my-0  mx-1"><a
                                        class="btn default btn-outline el-link text-white border-white"
                                        href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content text-center">
                        <h4 class="mb-0">Elevaciones de rodilla </h4> <span class="text-muted">Parate con los pies
                            separados al ancho de tus caderas. Levantá una rodilla hacia el pecho y luego hacé lo mismo
                            con la otra. Continuá el movimiento alternando las piernas.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="el-card-item pb-3">
                    <div class="el-card-avatar mb-3 el-overlay-1 w-100 overflow-hidden position-relative text-center">
                        <img src="../../../assets/images/gallery/Burpees.gif" class="d-block position-relative w-100"
                            alt="user">
                        <div class="el-overlay w-100 overflow-hidden">
                            <ul class="list-style-none el-info text-white text-uppercase d-inline-block p-0">
                                <li class="el-item d-inline-block my-0  mx-1"><a
                                        class="btn default btn-outline image-popup-vertical-fit el-link text-white border-white"
                                        href="../assets/images/big/img2.jpg"><i class="icon-magnifier"></i></a></li>
                                <li class="el-item d-inline-block my-0  mx-1"><a
                                        class="btn default btn-outline el-link text-white border-white"
                                        href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content text-center">
                        <h4 class="mb-0">Burpees</h4> <span class="text-muted">Agachate y apoyá las manos en el suelo.
                            Impulsá los pies hacia atrás hasta quedar en posición de plancha con las piernas extendidas.
                            Impulsá los pies hacia adelante con un pequeño salto y quedate en posición agachada.
                            Finalmente, saltá extendiendo las manos hacia el cielo.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="el-card-item pb-3">
                    <div class="el-card-avatar mb-3 el-overlay-1 w-100 overflow-hidden position-relative text-center">
                        <img src="../../../assets/images/gallery/Saltos.gif" class="d-block position-relative w-100"
                            alt="user">
                        <div class="el-overlay w-100 overflow-hidden">
                            <ul class="list-style-none el-info text-white text-uppercase d-inline-block p-0">
                                <li class="el-item d-inline-block my-0  mx-1"><a
                                        class="btn default btn-outline image-popup-vertical-fit el-link text-white border-white"
                                        href="../assets/images/big/img4.jpg"><i class="icon-magnifier"></i></a></li>
                                <li class="el-item d-inline-block my-0  mx-1"><a
                                        class="btn default btn-outline el-link text-white border-white"
                                        href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content text-center">
                        <h4 class="mb-0">Saltos</h4> <span class="text-muted">Podés hacer diferentes tipos de saltos. En
                            los saltos en estrella, por ejemplo, te impulsás hacia arriba mientras alejás los brazos y
                            piernas del cuerpo. También podés probar los saltos con rodillas al pecho, subiendo las dos
                            piernas lo más alto posible. </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="el-card-item pb-3">
                    <div class="el-card-avatar mb-3 el-overlay-1 w-100 overflow-hidden position-relative text-center">
                        <img src="../../../assets/images/gallery/Planchas.gif" class="d-block position-relative w-100"
                            alt="user">
                        <div class="el-overlay w-100 overflow-hidden">
                            <ul class="list-style-none el-info text-white text-uppercase d-inline-block p-0">
                                <li class="el-item d-inline-block my-0  mx-1"><a
                                        class="btn default btn-outline image-popup-vertical-fit el-link text-white border-white"
                                        href="../assets/images/big/img3.jpg"><i class="icon-magnifier"></i></a></li>
                                <li class="el-item d-inline-block my-0  mx-1"><a
                                        class="btn default btn-outline el-link text-white border-white"
                                        href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content text-center">
                        <h4 class="mb-0">Planchas</h4> <span class="text-muted">Ubicate boca abajo, apoyá las manos al
                            ancho de hombros y estirá los brazos. Las piernas deben estar rectas, el abdomen contraído y
                            la espalda derecha. Mantené la postura durante, al menos, 20 segundos.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="el-card-item pb-3">
                    <div class="el-card-avatar mb-3 el-overlay-1 w-100 overflow-hidden position-relative text-center">
                        <img src="../../../assets/images/gallery/Triceps.gif" class="d-block position-relative w-100"
                            alt="user">
                        <div class="el-overlay w-100 overflow-hidden">
                            <ul class="list-style-none el-info text-white text-uppercase d-inline-block p-0">
                                <li class="el-item d-inline-block my-0  mx-1"><a
                                        class="btn default btn-outline image-popup-vertical-fit el-link text-white border-white"
                                        href="../assets/images/big/img5.jpg"><i class="icon-magnifier"></i></a></li>
                                <li class="el-item d-inline-block my-0  mx-1"><a
                                        class="btn default btn-outline el-link text-white border-white"
                                        href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content text-center">
                        <h4 class="mb-0">Fondos e tríceps</h4> <span class="text-muted">Apoyá las manos sobre el
                            asiento, con los dedos apuntando hacia delante y los brazos extendidos. La espalda tiene que
                            estar erguida y el abdomen contraído. Bajá la parte superior del cuerpo, flexionando los
                            codos hasta que los glúteos casi toquen el suelo. A continuación, volvé a la posición
                            inicial. </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="el-card-item pb-3">
                    <div class="el-card-avatar mb-3 el-overlay-1 w-100 overflow-hidden position-relative text-center">
                        <img src="../../../assets/images/gallery/Sentadillas.gif"
                            class="d-block position-relative w-100" alt="user">
                        <div class="el-overlay w-100 overflow-hidden">
                            <ul class="list-style-none el-info text-white text-uppercase d-inline-block p-0">
                                <li class="el-item d-inline-block my-0  mx-1"><a
                                        class="btn default btn-outline image-popup-vertical-fit el-link text-white border-white"
                                        href="../assets/images/big/img6.jpg"><i class="icon-magnifier"></i></a></li>
                                <li class="el-item d-inline-block my-0  mx-1"><a
                                        class="btn default btn-outline el-link text-white border-white"
                                        href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content text-center">
                        <h4 class="mb-0">Sentadillas</h4> <span class="text-muted">Parate con los pies paralelos y,
                            luego, flexioná las rodillas y bajá la cadera hacia el suelo, como si fueras a sentarte.
                            Mantené el pecho elevado y la mirada hacia delante. La espalda debe permanecer lo más recta
                            posible. </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>