<div    class="modal-riesgo oculto animated fadeIn fast " 
        [class.oculto]="true" >
    <div class="modal-dialog  modal-dialog-scrollable ">
        <div class="modal-content" >
            <div class="modal-header modal-colored-header bg-success text-white">
                <h4 class="modal-title" id="success-header-modalLabel">Seguimiento riesgo
                </h4>
            </div>
            s
            <div class="card-body">
                <!--<form [formGroup]="updateForm" (ngSubmit)="actualizarRiesgo()">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="validationDefault01">ID del caso</label>
                              </div>
                            <div class="col-md-12 mb-3">
                              <label for="validationDefault01">Actualización</label>
                              <textarea name="" 
                                        id="" 
                                        cols="30" 
                                        rows="3" 
                                        class="form-control" 
                                        formControlName="actualizacion">
    
                              </textarea>
                            </div>
                            <div class="col-md-12 mb-3">
                            <label for="validationDefault01">Estado</label>
                              <select   name="" 
                                        class="form-control" 
                                        formControlName="estado">
                                <option value="Abierto">Abierto</option>
                                <option value="En proceso">En proceso</option>
                                <option value="Cerrado">Cerrado</option>
                              </select>
                            </div>
                        </div>
                        <button class="btn btn-light-success text-success font-weight-medium px-4 mt-3" type="submit">Actualizar</button>
                    </div>
                </form>-->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="cerrar()">Cerrar</button>
            </div>
        </div>
    </div>
</div>